<!DOCTYPE html>
<html>
<%- include head.ejs %>
<body>
<div class="container-fluid" id="index">
    <div class="text-center headerContainer">
        <h3>靈活、動態的圖表套件</h3>
        <h1>打造資料視覺化的利器</h1>
        <h3>抽象資料化為視覺圖像</h3>

        <div class="text-center">
            <a class="btn btn-lg btn-main" href="rstudio">ENTER
                &nbsp;<span class="glyphicon glyphicon glyphicon-search"
                            aria-hidden="true"></span></a>

        </div>
    </div>
    <div class="row">
        <img class="img-responsive" style="height:600px; display: block; margin-left: 45%;" src="/images/wordcloud.png">
    </div>
</div>
</body>
</html>
