<!DOCTYPE html>
<html>
<%- include head.ejs %>
<body>
<%- include nav.ejs %>

</div>
<div class="container" id="rstudio">
    <div class="row">
        <section class="section section-features" id="section-features">
            <div class="section-content">
                <header class="section-head">
                    <h2 class="section-title"><a href="https://www.rstudio.com/products/rstudio/" target="_blank"><img
                                    src="/images/RStudio.png"></a>
                        <!--<hr class="header-dash">-->
                    </h2>
                </header>
                <div class="section-body">
                    <div class="section-entry">
                        <h2 class="section-title">什麼是RStudio?</h2>
                        <hr class="header-dash">
                        <div class="desc">
                            <h3>R語言的整合開發環境，類似Eclipse跟Webstorm</h3>
                            <ul class="list-features">
                                <li>開源版本:免費、商業付費版:一人/年 USD 995</li>
                                <li>可透過此軟體進行R套件的安裝，開發R程式，及Shiny</li>
                            </ul>
                        </div>
                    </div>

                    <div class="section-entry">
                        <h2 class="section-title">什麼是RStudio Server?</h2>
                        <hr class="header-dash">
                        <div class="desc">
                            <h3>可佈署R程式的Server，主要是服務Shiny</h3>
                            <ul class="list-features">
                                <li>開源版本:免費、商業付費版:一台/年 USD 9995</li>
                                <li>付費版有管理工具、效能監控、安全機制、授權管理、Server資源管理</li>
                                <li>免費版只有社區資源，付費版有官方技術支援。</li>
                                <li>只能安裝在Linux上。</li>
                                <li>可多用戶瀏覽器登入，讓開發者擁有與RStudio桌面板一樣的操作經驗</li>
                                <li>統一管理R套件及其他資源，降低開發人員的環境設定複雜度</li>
                                <li>讓團隊可有版本控管、共享程式碼、數據來源及其他開發文件</li>
                            </ul>
                        </div>
                    </div>

                    <div class="section-entry">
                        <h2 class="section-title">什麼是Shiny?</h2>
                        <hr class="header-dash">
                        <div class="desc">
                            <h3>專為R打造的網路應用框架</h3>
                            <ul class="list-features">
                                <li>直接用R語言撰寫網頁的前後端程式</li>
                                <li>官網強調No HTML, CSS, or JavaScript knowledge required</li>
                                <li>並提供圖表接口(ggplot2)，讓R直接將產生的圖表呈現在網頁上</li>
                                <li>不負責畫圖，隱藏網頁設計的細節，內建各種元件，透過R的語法達成互動效果</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="detail">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <h2 class="section-title">Python</h2>
                    <h3>科學運算及資料視覺化的另一個選擇</h3>
                    <ul class="list-features">
                        <li>Django:成熟且功能完整的免費網頁框架</li>
                        <li>pandas、scikit、numpy、rpy2等的科學運算套件</li>
                        <li>matlibplot、plotly、bokeh、ggplot2等圖形套件</li>
                    </ul>

                </div>
            </div>
        </section>
    </div>

</div>

</body>
</html>