<!DOCTYPE html>
<html>
<%- include head.ejs %>

<body>
<%- include nav.ejs %>
<script>

</script>
<div class="container-fluid" id="tools">
    <div class="col-md-4">
        <section class="section section-features" id="section-features">
            <div class="section-content">
                <header class="section-head">
                    <a href="https://d3js.org/" target="_blank"><img src="/images/d3.jpg"></a>
                    <h2 class="section-title">D3.js</h2>
                    <!--<hr class="header-dash">-->
                </header>
                <div class="section-body">
                    <div class="section-entry">
                        <ul class="list-features">
                            <li>僅具繪製功能，不提供現成圖表</li>
                            <li>有範例庫</li>
                            <li>高自由性但實作繁瑣，學習曲線陡峭</li>
                            <li>提供使用者互動及圖檔下載，需額外開發</li>
                            <li>官方文件完整，社群資源多</li>
                            <li>有D3-node套件</li>
                            <li>支援IE9+</li>
                            <li>BSD-3-Clause 免費</li>
                            <li><a href="https://swimlane.github.io/ngx-charts/">D3 Framework</a></li>
                            <li class="pull-right"><img src="/images/js.png"><img src="/images/node.jpg"><img
                                        src="/images/python.png"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="section section-features" id="section-features">
            <div class="section-content">
                <header class="section-head">
                    <a href="https://www.amcharts.com/demos/" target="_blank"><img src="/images/amcharts.png"></a>
                    <h2 class="section-title">amCharts</h2>
                    <!--<hr class="header-dash">-->
                </header>
                <div class="section-body">
                    <div class="section-entry">
                        <ul class="list-features">
                            <li>圖表套件: chart/stock chart/map</li>
                            <li>提供使用者互動及圖檔下載</li>
                            <li>官方文件完整，社群資源多</li>
                            <li>JSON格式</li>
                            <li>支援IE7+</li>
                            <li>Commercial license 條件式免費</li>
                            <li> &nbsp;</li>
                            <li> &nbsp;</li>
                            <li> &nbsp;</li>
                            <li class="pull-right"><img src="/images/js.png"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="section section-features" id="section-features">
            <div class="section-content">
                <header class="section-head">
                    <a href="http://www.highcharts.com/demo" target="_blank"><img src="/images/highcharts.png"></a>
                    <h2 class="section-title">Highcharts</h2>
                    <!--<hr class="header-dash">-->
                </header>
                <div class="section-body">
                    <div class="section-entry">
                        <ul class="list-features">
                            <li>圖表套件: chart/stock chart/map</li>
                            <li>提供使用者互動及圖檔下載</li>
                            <li>官方文件完整，社群資源多</li>
                            <li>有個人highcharts cloud</li>
                            <li>支援IE6+</li>
                            <li>Commercial license 條件式免費</li>
                            <li> &nbsp;</li>
                            <li> &nbsp;</li>
                            <li> &nbsp;</li>
                            <li class="pull-right"><img src="/images/js.png"><img src="/images/node.jpg"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="section section-features" id="section-features">
            <div class="section-content">
                <header class="section-head">
                    <a href="https://plot.ly/javascript/#basic-charts" target="_blank"><img src="/images/plotly.png"></a>
                    <h2 class="section-title">Plotly</h2>
                    <!--<hr class="header-dash">-->
                </header>
                <div class="section-body">
                    <div class="section-entry">
                        <ul class="list-features">
                            <li>圖表套件: chart/stock/map</li>
                            <li>特殊: Statistical/engineering charts</li>
                            <li>提供使用者互動及png下載</li>
                            <li>官方文件完整，社群資源多</li>
                            <li>支援WebGL</li>
                            <li>python、R、node js套件及JSON格式</li>
                            <li>提供個人cloud空間，可共同編輯</li>
                            <li>支援IE9+</li>
                            <li>MIT license 免費</li>
                            <li class="pull-right"><img src="/images/js.png"><img src="/images/node.jpg"><img
                                        src="/images/python.png">
                                <img src="/images/R.png">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="section section-features" id="section-features">
            <div class="section-content">
                <header class="section-head">
                    <a href="http://bokeh.pydata.org/en/latest/docs/gallery.html" target="_blank"><img src="/images/bokeh.png"></a>
                    <h2 class="section-title">Bokeh</h2>
                    <!--<hr class="header-dash">-->
                </header>
                <div class="section-body">
                    <div class="section-entry">
                        <ul class="list-features">
                            <li>圖表套件: chart/stock/map</li>
                            <li>提供使用者互動及圖檔下載</li>
                            <li>官方文件完整，社群資源多</li>
                            <li>提供了 Custom JS 的前端接口</li>
                            <li>提供表單元件及排版工具</li>
                            <li> 支援 WebGL</li>
                            <li> BSD 3-clause 免費</li>
                            <li> &nbsp;</li>
                            <li> &nbsp;</li>
                            <li class="pull-right"><img src="/images/python.png">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="section section-features" id="section-features">
            <div class="section-content">
                <header class="section-head">
                    <a href="http://docs.ggplot2.org/current/" target="_blank"><img src="/images/ggplot2.png"></a>
                    <h2 class="section-title">ggplot2</h2>
                    <!--<hr class="header-dash">-->
                </header>
                <div class="section-body">
                    <div class="section-entry">
                        <ul class="list-features">
                            <li>圖表套件: chart/stock chart/map</li>
                            <li>Response格式為image互動非常侷限</li>
                            <li>官方文件完整，社群資源多</li>
                            <li>支援IE10+</li>
                            <li>GNU General Public License 免費</li>
                            <li> &nbsp;</li>
                            <li> &nbsp;</li>
                            <li> &nbsp;</li>
                            <li> &nbsp;</li>
                            <li class="pull-right">
                                <img src="/images/R.png">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>